<!DOCTYPE html>
<html lang="en">

<head>
    <title>OKEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="pc1.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:'Rubik Dirt', cursive ;">OkEl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" href="/">Компьютеры</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="ph">Смартфоны</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="aud">Наушники</a>
                        </li>
                      </ul>
                      <a class="btn btn-outline-success" href="/busk">Корзина</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class=" row">
            <div class="col-12 col-md-6">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="https://static.eldorado.ru/photos/71/715/877/36/new_71587736_l_1614694792.jpeg/resize/700x525/"
                                class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://static.eldorado.ru/photos/71/715/877/36/new_71587736_l_1614694872.jpeg/resize/700x525/"
                                class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="https://static.eldorado.ru/photos/71/715/877/36/new_71587736_l_1614694899.jpeg/resize/700x525/"
                                class="d-block w-100" alt="...">

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-6 card">
                <h1>
                    Беспроводные наушники с микрофоном JBL Live Free NC+ TWS Rose (JBLLIVEFRNCPTWSR)
                </h1>
                <pre>
                    <p class="text-fluid" style="font-size: 3vmin;" >
Соединение-------------------Беспроводное, Bluetooth
Тип наушников----------------Накладные
Версия Bluetooth-------------4.0
Время непрерывной работы-----7 ч
Микрофон---------------------есть
Тип электропитания-----------Аккумулятор Li-Ion
Акустическое оформление------Закрытые
                     </p>
                </pre>
                <form method="post">
                    <input name="title" type="hidden"
                    value="Беспроводные наушники с микрофоном JBL Live Free NC+ TWS Rose (JBLLIVEFRNCPTWSR)">
                    <h2 class="card-title d-flex justify-content-between" style="margin-top: 200px;"><input name="price" type="hidden"
                        value="3999">3 999 ₽
                    
    
                        <input type="submit"style="margin-right: 3%;" class="btn btn-success" value="Купить">
                    </h2>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 card-body card">
                <h5>Никита</h5>
                <p>16 августа 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Отличный телефон, качество исполнения у производителя как всегда на высоте. Считаю данный товар
                    стоит своих денег и при наличии у покупателя желания и возможности советую к приобретению.
                </p>
                <h5>Минусы</h5>
                <p>
                    нет
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Экран считаю лучшим на рынке на сегодня. Звук реально - бомба! Камеры видео, фото, (макро) также
                    считаю шедевральными. Автономности хватает почти на два дня. Лучший телефон. Шикарное качество
                    фотографий, а выглядит он прелестно, просто как игрушка. Его бесспорные достоинства заключаются в
                    ярких, насыщенных и при этом реалистичных цветах, а также превосходной детализации, позволяющей
                    разглядеть мельчайшие подробности.
                </p>
            </div>
            <div class="col-4 card-body card">
                <h5>Влад </h5>
                <p>23 августа 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Отличный телефон, качество как всегда на высоте. Все плавно, заряд держит ну очень долго.
                </p>
                <h5>Минусы</h5>
                <p>
                    - Телефон довольно тяжелый, но в принципе нормально, надо просто привыкнуть. - Зарядник не идет в
                    комплекте и надо докупать за 3000 рублей, за такую-то цену телефона... Тоже самое, чтобы новую
                    машину в салоне продавали без колес и их надо было докупать отдельно.
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Все круто, качественно! Советую к приобретению.
                </p>
            </div>
            <div class="col-4 card-body card">
                <h5>Егор</h5>
                <p>20 августа 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Шикарный экран, великолепная камера и отличное время работы.
                </p>
                <h5>Минусы</h5>
                <p>
                    Нет.
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Ну лучше Айфона может быть только новый Айфон. Перешла с 12 про и не пожалела. К размеру привыкла
                    буквально за один день. Теперь беру свой 12 про и не понимаю как могла пользоваться таким маленьким
                    телефоном. Экран и камера меня покорили. Минус только в том что в нашей глубинке отсутствуют
                    витринные образцы. Покупать кота в мешке за такую сумму не очень приятно. Телефон не разочаровал,
                    поэтому однозначно рекомендую!
                </p>
            </div>
        </div>
    </div>
    <iframe width="1000" height="515" style="margin-left: calc((100% - 1000px)/2);"
        src="https://www.youtube.com/embed/iFUuq0j2CDc" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <footer class="text-center text-lg-start bg-dark text-muted" style="height:80px ;">
        <div class="text-center p-3 pt-4" style="font-size: 20px;">
            © 2020 Copyright Company.INC
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>