<!DOCTYPE html>
<html lang="en">

<head>
    <title>OKEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="okel.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        .col-12 {
            position: relative;
        }

        .col-12:hover .text {
            display: block;
        }

        .text {
            display: none;
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:'Rubik Dirt', cursive ;">OkEl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Компьютеры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Смартфоны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aud">Наушники</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://img.mvideo.ru/Pdb/30063591b.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">119 999 ₽
                            <a href="phone1.html" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">Смартфон Apple iPhone 13 Pro 128GB
                    </div>
                </div>
            </div>
            <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/mv/Big/30063300bb.jpg/resize/700x525/"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">16 999 ₽
                            <a href="phone2.html" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">Смартфон Samsung Galaxy A23 64GB Black
                    </div>
                </div>
            </div>
            <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/mv/Big/30063772bb.jpg/resize/700x525/"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">7 999 ₽
                            <a href="phone3.html" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">Смартфон Xiaomi Redmi 10C 3+64GB
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/mv/Big/30058842bb.jpg/resize/700x525/" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">12 999 ₽
                            <a href="phone4.html" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">Смартфон Realme GT Master Edition 6+128GB
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/mv/Big/30059673bb.jpg/resize/700x525/" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">15 999 ₽
                            <a href="phone5.html" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">Смартфон Xiaomi 11 Lite 5G NE 8+128
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/mv/Big/30063254bb.jpg/resize/700x525/" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">29 999 ₽
                            <a href="phone6.html" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">Смартфон Samsung Galaxy A13 64GB
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="text-center text-lg-start bg-dark text-muted" style="height:80px ;margin-top:4%;">
        <div class="text-center p-3 pt-4" style="font-size: 20px;">
            © 2020 Copyright Company.INC
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>