<!DOCTYPE html>
<html lang="en">

<head>
    <title>OKEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="okel.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        .col-12 {
            position: relative;
        }

        .col-12:hover .text {
            display: block;
        }

        .text {
            display: none;
            position: absolute;
        }
        .photo{
            height: 414px;
        }
        @media screen and (max-width: 600px) {
            .photo {
                height: 500;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:'Rubik Dirt', cursive ;">OkEl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" href="/">Компьютеры</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="ph">Смартфоны</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="aud">Наушники</a>
                        </li>
                      </ul>
                      <a class="btn btn-outline-success" href="/busk">Корзина</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/71/714/166/05/new_71416605_l_1559652187.jpeg/resize/700x525/"
                        class="photo" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">3 799 ₽
                            <a href="/aud1" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">JBL T460BT
                    </div>
                </div>
            </div>
            <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/71/715/877/36/new_71587736_l_1614694792.jpeg/resize/700x525/"
                        class="photo" alt="..." style="height: 414px;">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">3 999 ₽
                            <a href="/aud2" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">JJBL Live Free NC+ TWS Rose
                    </div>
                </div>
            </div>
            <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/71/715/854/64/new_71585464_l_1613034918.jpeg/resize/700x525/"
                        class="photo" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">1 999 ₽
                            <a href="/aud3" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">JBL Tune175BT
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/71/715/765/53/new_71576553_l_1606746085.jpeg/resize/700x525/"
                        alt="..." class="photo">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">3 299 ₽
                            <a href="/aud4" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">JBL Tune 120 TWS White (JBLT120TWSWHT)
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/img1/p/b/00357501.jpg/resize/380x240/"
                        alt="..." class="photo">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">2 499 ₽
                            <a href="/aud5" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">JBL Tune 230NC TWS White (JBLT230NCTWSWHT)
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="margin-top: 2%;">
                <div class="card">
                    <img src="https://static.eldorado.ru/photos/71/715/854/60/new_71585460_l_1613039082.jpeg/resize/380x240/" alt="..." class="photo">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">3 799 ₽
                            <a href="/aud6" class="btn btn-sm btn-info">Купить</a>
                        </h5>
                    </div>
                    <div class="text card">JBL Tune175BT White (JBLT175BTWHT)
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="text-center text-lg-start bg-dark text-muted" style="height:80px ;margin-top:4%;">
        <div class="text-center p-3 pt-4" style="font-size: 20px;">
            © 2020 Copyright Company.INC
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>