<!DOCTYPE html>
<html lang="en">

<head>
  <title>OKEL</title>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="okel.css" type="text/css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <style>
    .col-12 {
      position: relative;
    }

    .col-12:hover .text {
      display: block;
    }

    .text {
      display: none;
      position: absolute;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-family:'Rubik Dirt', cursive ;">OkEl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/">Компьютеры</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ph">Смартфоны</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aud">Наушники</a>
            </li><li class="nav-item">
              <a class="nav-link" href="aud">Наушники</a>
            </li>
          </ul>
          <a class="btn btn-outline-success" href="/busk">Корзина</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
        <div class="card">
          <img src="https://img.mvideo.ru/Big/30064188bb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">77 999 ₽
              <a href="pc1" class="btn btn-sm btn-info">Купить</a>
            </h5>
          </div>
          <div class="text card">Системный блок игровой Nerpa HISPIDA I540 (I5-11400F/16GB/ 256GB+1TB/RTX3050/NOOS)
          </div>
        </div>
      </div>
      <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
        <div class="card">
          <img src="https://img.mvideo.ru/Big/30063348bb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">79 999 ₽
              <a href="/pc2" class="btn btn-sm btn-info">Купить</a>
            </h5>
          </div>
          <div class="text card">Системный блок игровой MSI MAG Codex 5 11SI-1039XRU
          </div>
        </div>
      </div>
      <div class=" col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
        <div class="card">
          <img src="	https://img.mvideo.ru/Big/30063350bb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">187 699 ₽
              <a href="/pc3" class="btn btn-sm btn-info">Купить</a>
            </h5>
          </div>
          <div class="text card">Системный блок игровой Lenovo Legion T5 26AMR5 (90RC018JRS)
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6  col-md-4" style="margin-top: 2%;">
        <div class="card">
          <img src="https://img.mvideo.ru/Big/30060524bb.jpg" alt="...">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">83 399 ₽
              <a href="/pc4" class="btn btn-sm btn-info">Купить</a>
            </h5>
          </div>
          <div class="text card">Системный блок игровой HP Pavilion Gaming TG01-2012ur 5B1C3EA
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4" style="margin-top: 2%;">
        <div class="card">
          <img src="https://img.mvideo.ru/Big/30062465bb.jpg" alt="...">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">95 599 ₽
              <a href="/pc5" class="btn btn-sm btn-info">Купить</a>
            </h5>
          </div>
          <div class="text card">Системный блок игровой ASUS ROG STRIX G10DK-A3400G058W (90PF02S1-M003E0)
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4" style="margin-top: 2%;">
        <div class="card">
          <img src="https://img.mvideo.ru/Big/30064256bb.jpg" alt="...">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">86 999 ₽
              <a href="/pc6" class="btn btn-sm btn-info">Купить</a>
            </h5>
          </div>
          <div class="text card">Системный блок игровой MUST MBM360 (R5-3600/16GB/512Gb+1TB/GTX3050/NOOS)
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer class="text-center text-lg-start bg-dark text-muted" style="height:80px ;margin-top:4%;">
    <div class="text-center p-3 pt-4" style="font-size: 20px;">
      © 2020 Copyright Company.INC
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>