<!DOCTYPE html>
<html lang="en">

<head>
    <title>OKEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="pc1.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:'Rubik Dirt', cursive ;">OkEl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Компьютеры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ph">Смартфоны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aud">Наушники</a>
                        </li>

                    </ul>
                    <a class="btn btn-outline-success" href="/busk">Корзина</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class=" row">
            <div class="col-12 col-md-6">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="https://img.mvideo.ru/Big/30063350bb.jpg" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://img.mvideo.ru/Big/30063350bb1.jpg" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="https://img.mvideo.ru/Big/30063350bb2.jpg" class="d-block w-100" alt="...">

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-6 card">
                <h1>
                    Системный блок игровой Lenovo Legion T5 26AMR5 (90RC018JRS)
                </h1>
                <pre>
                    <p class="text-fluid" style="font-size: 3vmin;" >
Тип процессора---------------AMD Ryzen 5 5600G 3.9 ГГц
Оперативная память (RAM)-----16 ГБ
Графический контроллер-------Radeon RX 6800XT
Объем видеопамяти------------16 ГБ
Объем SSD--------------------1 ТБ
Операционная система---------Windows 11 Домашняя 64
Встроенный модуль Bluetooth--5.1
Поддержка Wi-Fi--------------a/b/g/n/ac/ax
                     </p>
                </pre>
                <form method="post">
                    <input name="title" type="hidden"
                    value="Системный блок игровой Lenovo Legion T5 26AMR5 (90RC018JRS)">
                    <h2 class="card-title d-flex justify-content-between" style="margin-top: 200px;"><input name="price" type="hidden"
                        value="187699 ">187 699 ₽
                    
    
                        <input type="submit"style="margin-right: 3%;" class="btn btn-success" value="Купить">
                    </h2>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 card-body card">
                <h5>Иванов</h5>
                <p>22 июля 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Системный блок работает на твердую оценку отлично. Можно играть в онлайн игры, можно скачивать их, и
                    уже проходить различные квесты в удобное для себя время. Обычно локации загружаются в хорошем темпе.
                </p>
                <h5>Минусы</h5>
                <p>
                    нет
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Этот компьютер более мощный и оказался гораздо быстрее, чем мой предыдущий. Шесть ядер обеспечивают
                    хорошую скорость работы техники. Оперативная память солидная плюс есть несколько слотов для
                    оперативной памяти, поэтому её несложно существенно увеличить. Обычно, если компьютер приобретают
                    для игр, то объем памяти важен. Видеокарта дискретная. В корпусе есть разъемы под флешку, смартфон,
                    микрофон или те же наушники.
                </p>
            </div>
            <div class="col-4 card-body card">
                <h5>Павел</h5>
                <p>21 июля 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Шестиядерный процессор, один ТБ памяти.
                </p>
                <h5>Минусы</h5>
                <p>
                    -
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Хорошая система охлаждения у этого системного блока позволяет ему работать не перегреваясь.
                    Прикольно что на передней панели сделана сетка через которого видно вентиляторы с разноцветной
                    подсветкой. Также есть стильные эмблема на передней панели которая также обладает лёд подсветкой.
                    Конечно самое главное, что начинка этого системного блока к достаточно круто для того чтобы
                    поддерживать последние версии компьютерных игр.
                </p>
            </div>
            <div class="col-4 card-body card">
                <h5>Константин</h5>
                <p>1 июля 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Процессор, видеокарта, подстветка.
                </p>
                <h5>Минусы</h5>
                <p>
                    Минусы не заметил.
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Системный блок выше всяких похвал! LED-подсветка делает своё дело и системник смотрится прям очень
                    круто. Начинка очень даже: шестиядерный процессор AMD Ryzen 5 5600G 3.9 ГГц и видеокарта. Объём
                    жёсткого диска 1 ТБ. Самое главное, что системник вообще не нагревается.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <iframe width="1000" height="515" style="margin-left: calc((100% - 1000px)/2);"
            src="https://www.youtube.com/embed/rwwgyq2uq98" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <footer class="text-center text-lg-start bg-dark text-muted" style="height:80px ;">
        <div class="text-center p-3 pt-4" style="font-size: 20px;">
            © 2020 Copyright Company.INC
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>