<!DOCTYPE html>
<html lang="en">

<head>
    <title>OKEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="pc1.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container-fluid" style="width:100%;padding-left:0;padding-right:0;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:'Rubik Dirt', cursive ;">OkEl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="okel.html">Компьютеры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="okelphones.html">Смартфоны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="okelaudio.html">Наушники</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="https://img.mvideo.ru/Big/30060523bb.jpg" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://img.mvideo.ru/Big/30060523bb21.jpg" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="https://img.mvideo.ru/Big/30060523bb22.jpg" class="d-block w-100" alt="...">

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-6 card">
                <h1>
                    Системный блок игровой Lenovo Legion T5 26AMR5 (90RC018JRS)
                </h1>
                <pre>
                    <p class="text-fluid" style="font-size: 3vmin;padding: 0;" >
Тип процессора---------------AMD Ryzen 5 5600G 3.9 ГГц
Оперативная память (RAM)-----16 ГБ
Графический контроллер-------GeForce RTX 3060
Объем видеопамяти------------12 ГБ
Объем SSD--------------------512 ТБ
Операционная система---------DOS
Встроенный модуль Bluetooth--5  
Поддержка Wi-Fi--------------a/b/g/n/ac
                     </p>
                </pre>
                <h2 class="card-title d-flex justify-content-between" style="margin-top: calc((100% - 1000px)/2);">83
                    399 ₽
                    <a href="https://www.mvideo.ru/products/sistemnyi-blok-igrovoi-hp-pavilion-gaming-tg01-2012ur-5b1c3ea-30060524"
                        style="margin-right: 3%;" class="btn btn-lg btn-info">Купить</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 card-body card">
                <h5>Вилли</h5>
                <p>23 ноября 2021</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Достаточно мощное железо, компактный, тихий
                </p>
                <h5>Минусы</h5>
                <p>
                    нет
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Поскольку, во внерабочее время я часто работаю с программами, которые требуют много ресурсов, и
                    иногда поигрываю в игры (хоть и сейчас уже не так часто, как раньше), глобальные требования у меня к
                    системному блоку были минимальные, а именно актуальное и мощное железо. Любители железа наверняка
                    оценят, но лично я уже ощутил ту мощь и удобство, которое оно предоставляет, ни одна из современных
                    и затратных игр и программ у меня не тормозила, и не требовала больше производительности. Но что мне
                    особенно понравилось в устройстве - его компактность, он чуток меньше средней коробки.
                </p>
            </div>
            <div class="col-4 card-body card">
                <h5>Алексей Н</h5>
                <p>21 августа 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Производительность
                </p>
                <h5>Минусы</h5>
                <p>
                    Нет
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Все нормально.
                </p>
            </div>
            <div class="col-4 card-body card">
                <h5>Илья К.</h5>
                <p>13 августа 2022</p>
                <div class="rating-mini">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span></span>
                </div>
                <h5>Плюсы</h5>
                <p>
                    Апгрейдится
                </p>
                <h5>Минусы</h5>
                <p>
                    Сэкономили на линиях в разъеме M2
                </p>
                <h5>
                    Комментарии
                </h5>
                <p>
                    Добавлю отзыв. Итак эта железка вполне нормально понимает 64Gb памяти. Так же прекрасно "съела"
                    Ryzen-7 5700G. При этом обратите внимание, что радиатор тут тоже "проприетарный" и штатный
                    "боксовый" радиатор от AMD вы поставить не сможете. Отсюда вывод, с учетом достаточно слабого
                    питания и невозможности замены радиатора, TDP в 65 ватт лучше не превышать. Так что Ryzen-7 5700G
                    наверно будет "верхним" ЦПУ для этой железке. Разочаровал М2. HP сэкономил на спичках, притащив туда
                    только 2 линии PCIe (Там PCIe Gen3 x2). То есть более 2 гигабайт в секунду вы с SSD не получите, ни
                    за какие коврижки. Выдернул шнурок, который шел с материнки, на подсветку корпуса снизу
                    (раздражала). При этом светодиод на кнопке питания поменял цвет на белый. Предполагаю, что там RGB,
                    но в БИОС информации нет. На сайте HP тоже нет. Ну и ладно. Меня белая подсветка кнопки питания
                    устраивает)
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <iframe width="1000" height="515" style="margin-left: 25%;" src="https://www.youtube.com/embed/rwwgyq2uq98"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <footer class="text-center text-lg-start bg-dark text-muted" style="height:80px ;width:100%;padding-right:0;">
        <div class="text-center p-3 pt-4" style="font-size: 20px;">
            © 2020 Copyright Company.INC
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>